.about-div {
  display: flex;
  align-items: center;
}

.about-container {
  h2 {
    font-size: 25px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
