.skills-icons-col {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  border: 2px solid black;
  border-radius: 8px;
  margin: 5px;
  padding:5x;
  padding-left: 25px;
  padding-right: 25px;
}

.skills-icons {
  font-size: 40px;
  padding-top: 10px;
}

.about-container {
  h2 {
    font-size: 25px;
  }
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
