.about-container {
  h2 {
    font-size: 25px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-icons-col {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  border: 2px solid black;
  border-radius: 8px;
  margin: 5px;
  padding: 20px; 
  box-sizing: border-box; 
  min-width: 100px; 
}

.skills-icons {
  font-size: 3rem; 
  padding-top: 10px;
}


.skills-header-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills-row {
  justify-content: center;
}