.hero {
  margin-top: 50px; 
}

.hero-header {
  text-align: center;
}

.hero-subheader {
  text-align: center;
  color: grey;
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}