.nav-menu {
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: #f8f9fa;
  overflow-y: auto;
  padding: 20px 0;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
  padding-left: 18px;
}

.nav-button {
  width: 100%;
  background-color: black; 
  color: #ffffff; 
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; 
}

