@import './components/About.scss';
@import './components/Projects.scss';
@import './components/music.scss';
@import './components/Nav.scss';
@import './components/Hero.scss';

* {
  box-sizing: border-box;
}

.main {
  margin-left: 200px;  
  border-left: 2px solid black;
  border-right: 0;
  border-bottom: 0;
}

@media (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}

.header-text {
  text-decoration-line: underline;
  text-decoration-color: gray;
}

.link-text {
  cursor: pointer;
}