@import './components/About.scss';
@import './components/Projects.scss';
@import './components/music.scss';
@import './components/Nav.scss';
@import './components/Hero.scss';
@import './components/SectionHeaders.scss';
@import './components/Contact.scss';

* {
  box-sizing: border-box;
}

.main {
  margin-left: 200px;  
  border-left: 2px solid black;
  border-right: 0;
  border-bottom: 0;
}

@media (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}

h2 {
  text-align: center;
}

.header-text {
  font-size: 25px;
  margin-left: 20px;
}

.link-text {
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .project-div {
    flex-direction: column;
  }
  .project-image-col {
    h3 {
      white-space: normal;
    }
  } 
}

@media (max-width: 768px) {
  .skills-icons-col {
    padding: 15px; 
  }
  .skills-icons {
    font-size: 2.5rem; 
  }
}